* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Adiciona box-sizing para melhor controle de layout */
}

.container {
    display: flex; /* Usar flexbox para centralizar o conteúdo */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-weight: bold;
    height: 100vh; /* Preencher a altura total da tela */
}

.form {
    position: relative; 
    width: 90%; 
    max-width: 350px; 
    height: auto; 
    border: 4px solid black;
    border-radius: 20px;
    background-color: black;
    font-size: 30px;
    padding: 20px; 
}

.form input {
    width: 100%; 
    height: 40px; 
    margin-top: 20px; 
    border-radius: 20px;
    font-size: 18px;
}

input::placeholder {
    font-size: 18px; /* Ajusta o tamanho do placeholder para melhor legibilidade */
}

.butao {
    border-radius: 20px;
    background-color: #1A00FF;
    font-weight: bold;
    color: white;
    font-size: 20px; 
    width: 100%; /* Faz o botão ocupar toda a largura do formulário */
    height: 50px; 
}

.nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: center;
    font-size: 60px;
    color: white;
    width: 100%;
    height: 150px;
    background-color: #1A00FF;
}

.text {
    position: relative;
    top: 34px;
}

/* Media query para telas pequenas */
@media (max-width: 768px) {
    .nav {
        font-size: 36px;
        right: 20px;
    }

    .form {
        bottom: 20%;
        font-size: 25px;
    }

    .butao {
        font-size: 20px;
    }
}
